form {
    margin-top: 3%;
  }
  
  .formContainer {
    display: flex;
    flex-direction: column;
  }
  
  .formContainer label {
    width: 50px;
    margin-left: 44%;
  }
  
  .formContainer input {
    border: 1px solid black;
    border-radius: 3px;
    outline: none;
    padding: 5px;
    width: 170px;
    margin-left: 44%;
  }
  
  .submitButton {
    border: 1px solid peru;
    border-radius: 3px;
    outline: none;
    padding: 5px;
    margin: 10px;
    width: 70px;
    background-color: peru;
  }
  