.paymentButtonDiv {
  margin-left: 41%;
}

.paymentButton {
  border: 1px solid black;
  border-radius: 5px;
  outline: none;
  background: black;
  color: white;
  padding: 5px;
  margin: 5px;
  width: 100px;
  cursor: pointer;
}

.paymentButton:hover {
  border: 1px solid black;
  color: black;
  background: white;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.sortButtonDiv {
  margin-left: 44%;
}

.sortButton {
  border: 1px solid black;
  border-radius: 5px;
  outline: none;
  background: black;
  color: white;
  padding: 5px;
  margin: 5px;
  width: 100px;
  cursor: pointer;
}

.sortButton:hover {
  border: 1px solid black;
  color: black;
  background: white;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.paginationButtonDiv {
  margin-left: 37%;
}

.paginationButton {
  border: 1px solid black;
  border-radius: 5px;
  outline: none;
  background: black;
  color: white;
  padding: 5px;
  margin: 5px;
  width: 100px;
  cursor: pointer;
}

.paginationButton:hover {
  border: 1px solid black;
  color: black;
  background: white;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.filterButtonDiv {
  margin-left: 34%;
}

.filterButton {
  border: 1px solid black;
  border-radius: 5px;
  outline: none;
  background: black;
  color: white;
  padding: 5px;
  margin: 5px;
  width: 100px;
  cursor: pointer;
  margin-top: 10%;
}

.filterButton:hover {
  border: 1px solid black;
  color: black;
  background: white;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
